{% extends 'base.html' %}

{% block title %}
Portfolio
{% endblock  %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
        <tr>
          <td><a href="{% url 'portfolio:detail' token.pk %}">{{ token.coin }}</a> </td>
          <td>{{ token.amount }}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
    <a class="btn btn-primary" href="{% url 'portfolio:add' %}" role="button">Добавить</a>
    </div>
  </div>
{% endblock  %}