{% extends 'base.html' %}

{% block title %}ваш портфель{% endblock  %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Token</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
        <tr>
          <td><a href="{% url 'portfolio:detail' token.coin %}">{{ token.coin }}</a> </td>
          <td>{{ token.amount }}</td>
        </tr>
      {% endfor %}  
    </tbody>
  </table>
  <div class="col-md-fluid offset-md-fluid text-center">
  <a class="btn btn-primary" href="{% url 'portfolio:add' %}" role="button">Добавить монету</a>
  </div>
{% endblock  %}