{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <img src="{% static 'img/btc.png' %}">
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portfolio:index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portfolio:portfolio' %}">Портфель</a>
        </li>
        {% if request.user.username == "admin"  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'portfolio:fill' %}">Обновить БД</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-link float-right">
            Вы вошли как: {{ request.user }}.
          </li>
            <a class="nav-link float-right" href="{% url 'users:logout' %}">Выйти</a>
          <li>
          </li>
        {% else %}
          <li>
            <a class="nav-link float-right" href="{% url 'users:login' %}">Войти</a>
          </li>
          <li>
            <a class="nav-link float-right" href="{% url 'users:signup' %}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
  </nav>